@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img/bg2.jpg);
    background-size: cover;
}

.calendar {
    width: 300px;
    height: auto;
    background: #fff;
    box-sizing: border-box;
}

.grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar .date-of-week div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #262626;
}

.calendar .date-of-week {
    font-weight: 700;
}